<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
   <add name="MSSQLDB" connectionString="Server=185.93.71.71;Database=Proje;User Id=Shaiya;Password=Shaiya123;"/>
    <!--<add name="MSSQLDB" connectionString="Data Source=185.93.71.71,1433;Network Library=DBMSSOCN;Initial Catalog=Proje;User ID=Shaiya;Password=Shaiya123;"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>